<form class="add-form">
  <div class="form-control">
    <label for="text" class="label">Task</label>
    <input type="text" name="text" id="text" placeholder="Add text..." />
  </div>
  <div class="form-control">
    <label for="day" class="label">Day</label>
    <input type="text" name="day" id="day" placeholder="Add day..." />
  </div>
  <div class="form-control form-control-check">
    <label for="reminder">Reminder</label>
    <input type="checkbox" name="reminder" id="reminder" />
  </div>
  <input type="submit" value="Save Task" class="btn btn-block" />
</form>
